{% extends "!layout.html" %}

{% block header %}
<div class="NavBar">
  <a href="{{ pathto("../app/", 1) | e }}"><h1>Pytch</h1></a>
  <ul>
    <a href="{{ pathto(master_doc) | e }}"><li>Help</li></a>
    <a href="{{ pathto("../app/tutorials/", 1) | e }}"><li>Tutorials</li></a>
    <a href="{{ pathto("../app/my-projects/", 1) | e }}"><li>My projects</li></a>
  </ul>
</div>
<div class="warning-work-in-progress">
  <p>These help pages are incomplete — we are working on it!</p>
</div>
{% endblock header %}

{% block sidebartitle %}
{% endblock sidebartitle %}

{%- block relbar1 %}
{%- endblock relbar1 %}
{%- block relbar2 %}
{%- endblock relbar2 %}

{%- block sidebarsearch %}
{%- endblock sidebarsearch %}

{%- block footer %}
{%- endblock footer %}
