.wy-nav-side {
    background-color: #cce;
}

.wy-body-for-nav, .wy-nav-content {
    background-color: #ddf;
}

.wy-grid-for-nav {
    position: relative;
    display: flex;
    flex-direction: row;
}

.wy-nav-content-wrap {
    background: initial;
}

.wy-menu-vertical a {
    padding-left: 1.5rem;
    color: black;
}

.wy-menu-vertical p.caption {
    padding-left: 1.5rem;
    font-size: 1.1111rem;
    color: black;
}

.wy-menu-vertical a:hover {
    background-color: #bbd;
}

.wy-side-nav-search, .wy-breadcrumbs, .wy-breadcrumbs + hr {
    display: none;
}

.rst-content > footer {
    display: none;
}

.local-toc {
    margin-top: 2rem;
}

.wy-nav-side {
    position: relative;
    width: auto;
    flex-shrink: 0;
}

.wy-side-scroll {
    width: auto;
    overflow-y: auto;
}

.wy-nav-content-wrap {
    margin-left: 0rem;
}

.wy-nav-content {
    max-width: initial;
    width: auto;
}

.NavBar {
  background-color: #228;
  color: white;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.NavBar a {
    text-decoration: none;
}
.NavBar h1 {
    padding: 8px;
    margin: 0px 2rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.NavBar h1:hover, .NavBar li:hover {
    background-color: #44b;
    border-radius: 4px;
}
.NavBar ul {
    margin: 0px;
}
.NavBar ul li {
    display: inline-block;
    margin-right: 2rem;
    padding: 8px;
    font-size: 1.25rem;
    color: white;
    cursor: pointer;
    user-select: none;
}
.NavBar ul li a {
    color: white;
    text-decoration: none;
}
